{% extends 'base.html' %}


{% block content %}
    <h1>Inbox</h1>

    <div>
        {% for message in conversation.messages.all %}
                <div style="padding-bottom: 20px;">
                    <div class="{% if message.created_by == request.user.customuser %} bg-primary {% else %} bg-info {% endif %}">
                        <div class="m-2">
                            <p class="m-2 small"><strong>{{ message.created_by.username }}</strong> at {{ message.created_at }}</p>
                            <p class="m-2">{{ message.content }}</p>
                        </div>

                    </div>
                </div>

        {% endfor %}
    </div>

<form method="post" action="">
    {% csrf_token %}

    {{ form.as_p }}
    <button class="m-1 btn btn-success" type="submit">Submit</button>
</form>
{% endblock %}