{% extends 'base.html' %}
{% block content %}
    <a class="m-1 btn btn-primary" href="{% url 'app1:add_item' %}">Add item</a>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.type }}</td>
                    <td><img src="{{ item.image.url }}" /></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}