{% extends 'base.html' %}

{% block title %}{{ item.name }}{{% endblock %}

{% block content %}
    <div class="m-1 col-6">
            <form method="get" action="{% url 'app1:list_items' %}">
                <div class="form-group">
                    {% if search_query %}
                        <input class="m-1 form-control text-white bg-dark" name="search" value="{{ search_query }}"
                               type="text" placeholder="Find a toy, a video game, etc...">
                    {% else %}
                        <input class="m-1 form-control text-white bg-dark" name="search" value="{{ query }}"
                               type="text" placeholder="Find a toy, a video game, etc...">
                    {% endif %}

                    <form method="get" action="{% url 'app1:list_items' %}">
<!--                        <label for="category">Select a category:</label>-->
                        <select class="m-2 form-control text-white bg-dark" id="category" name="category">
                            {% if category == 'Toys' %}
                                <option value="">All categories</option>
                                <option value="Toys" selected="selected">Toys</option>
                                <option value="Sport">Sport</option>
                                <option value="Animals">Animals</option>

                            {% elif category == 'Sport' %}
                                <option value="">All categories</option>
                                <option value="Toys">Toys</option>
                                <option value="Sport" selected="selected">Sport</option>
                                <option value="Animals">Animals</option>

                            {% elif category == 'Animals' %}
                                <option value="">All categories</option>
                                <option value="Toys">Toys</option>
                                <option value="Sport">Sport</option>
                                <option value="Animals" selected="selected">Animals</option>

                            {% else %}
                                <option value="">All categories</option>
                                <option value="Toys">Toys</option>
                                <option value="Sport">Sport</option>
                                <option value="Animals">Animals</option>
                            {% endif %}

                        </select>

                        <select class="m-2 form-control text-white bg-dark" id="sort_by" name="sort_by">
                            {% if sort_by == 'name' %}
                               <option value="">Sort by</option>
                                <option value="name" selected="selected">Name</option>
                                <option value="price">Price</option>
                                <option value="type">Type</option>
                                <option value="posted_date">Date</option>

                            {% elif sort_by == 'price' %}
                                <option value="">Sort by</option>
                                <option value="name">Name</option>
                                <option value="price" selected="selected">Price</option>
                                <option value="type">Type</option>
                                <option value="posted_date">Date</option>

                            {% elif sort_by == 'type' %}
                                <option value="">Sort by</option>
                                <option value="name">Name</option>
                                <option value="price">Price</option>
                                <option value="type" selected="selected">Type</option>
                                <option value="posted_date">Date</option>

                            {% elif sort_by == 'posted_date' %}
                                <option value="">Sort by</option>
                                <option value="name">Name</option>
                                <option value="price">Price</option>
                                <option value="type">Type</option>
                                <option value="posted_date" selected="selected">Date</option>
                            {% else %}
                                <option value="">Sort by</option>
                                <option value="name">Name</option>
                                <option value="price">Price</option>
                                <option value="type">Type</option>
                                <option value="posted_date">Date</option>
                            {% endif %}
                        </select>

                        <select class="m-2 form-control text-white bg-dark" id="asc_desc" name="asc_desc">
                            {% if order_by == 'asc' %}
                                <option value="asc" selected="selected">Ascending</option>
                                <option value="desc">Descending</option>
                            {% elif order_by == 'desc' %}
                                <option value="asc">Ascending</option>
                                <option value="desc" selected="selected">Descending</option>
                            {% else %}
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            {% endif %}
                        </select>

                        <button class="m-1 btn btn-info" type="submit">Search</button>
                    </form>
                </div>
            </form>
    </div>
    <a class="m-1 btn btn-primary" href="{% url 'app1:add_item' %}">Add item</a>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Type</th>
                <th>Image</th>
                <th>Available</th>
                <th>Posted by</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
<!--                    <td>{{ forloop.counter }}</td>-->
                    <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.currency }}</td>
                    <td>{{ item.type }}</td>
                    <td>
                        {% if item.image %}
                            <img src="{{ item.image.url }}" width="300" height="200" class="img-thumbnail" alt="Cinque Terre">
                        {% endif %}
                    </td>
                    <td>
                        {% if item.active is True %}
                            Available
                        {% else %}
                            Unavailable
                        {% endif %}
                    </td>
                    <td>{{ item.id_user }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'app1:detail_item' item.id %}">Info</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a class="btn" href="?page={{ page_obj.previous_page_number }}"><span><<</span></a></li>
            {% else %}
                <li class="disabled btn"><span></span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active btn btn-info"><span>{{ i }}<span class="sr-only">(curent)</span></span></li>
                {% else %}
                <li><a class="btn" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="btn" href="?page={{ page_obj.next_page_number }}">>></a></li>
            {% else %}
            <li class="disabled btn"><span>>></span></li>
            {% endif %}
        <span class="align-right">Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</span>
        </ul>
    {% endif %}
{% endblock %}