{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Type</th>
                <th>Image</th>
                <th>Available</th>
                <th>Posted by</th>
                <th>Posted at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.currency }}</td>
                    <td>{{ item.type }}</td>
                    <td>
                        {% if item.image %}
                            <img src="{{ item.image.url }}" width="300" height="200">
                        {% endif %}
                    </td>
                    <td>
                        {% if item.active is True %}
                            Available
                        {% else %}
                            Unavailable
                        {% endif %}
                    </td>
                    <td>{{ item.id_user }}</td>
                    <td>{{ item.posted_date }}</td>
                    <td>
                        {% if item.id_user.id == request.user.id %}
                            <a class="btn btn-primary" href="{% url 'app1:edit_item' item.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'app1:delete_item' item.id %}">Delete</a>
                            {% if item.active is False %}
                                <a class="btn btn-info" href="{% url 'app1:activate_item' item.id %}">Activate</a>
                            {% else %}
                                <a class="btn btn-warning" href="{% url 'app1:deactivate_item' item.id %}">Deactivate</a>
                            {% endif %}
                        {% elif request.user.is_authenticated %}
                            {% if item.active is True %}
                                <a class="btn btn-success" href="#">Buy</a>
                            {% else %}
                                <a class="btn btn-dark text-white" href="#">Buy</a>
                            {% endif %}
                            <a class="btn btn-info" href="#">Contact</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </td>

                </tr>
        </tbody>
    </table>
{% endblock %}