{% extends 'base.html' %}
{% block content %}
<div class="col-md-12">
    <p>Please provide the necessary information.</p>
    <form method="POST">
        {% csrf_token %}
        <div class="col-md-3">
            <label>Email</label>
            <input type="text" name="email" class="form-control text-white bg-dark" placeholder="Enter the email">
        </div>
        <br>
        <div class="col-md-3">
            <button type="submit" class="btn btn-warning">Reseteaza</button>
        </div>
    </form>
</div>
{% endblock %}