{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="col-md-3">
            <input type="password" class="form-control text-white bg-dark" name="new_password1" placeholder="Password">
        </div>
        <div class="col-md-3">
            <br>
            <input type="password" class="form-control text-white bg-dark" name="new_password2" placeholder="Reinsert password">
            <button type="submit" class="my-3 btn btn-dark">Confirma parola</button>
            {{ form.errors }}
        </div>
    </form>
{% endblock %}