.errorlist {
    color: red;
}

.container {
    display: flex;
}

.input {
    margin-right: 70px;
}

.form-group {
    display: flex;
    align-items: center;
}
.form-group input {
    margin-right: 10px;
}

.container-left {
    float: left;
    width: 25%;
}

.container-right {
    float: right;
    width: 25%;
}

.full-width-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 80px;
}

.clear {
    clear: both;
}
